@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Criação de um formulário de pesquisa</h1>
    <p>Nesta aula vamos criar um formulário de pesquisa</p>
</div>

